* {
    box-sizing: border-box;
}

body {
    --color-dark: #191919;
    --color-highlight: #c96c26;
    --color-light: #b1b1b1;
    --color-valid: #26B7C9;
    --color-invalid: #CC4437;
    margin: 0;
    background-color: var(--color-dark);
}

a {
    color: var(--color-highlight);
}

.main_container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo_section {
    position: relative;
    width: 40%;
    background-image: url(assets/badminton.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.logo_wrapper {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: var(--color-dark);
    opacity: 0.7;
    margin-top: 210px;
    align-items: baseline;
    justify-content: center;
    gap: 8px;
}

.logo {
    max-height: 80%;
    max-width: 100%;
    filter: invert(43%) sepia(87%) saturate(577%) hue-rotate(346deg) brightness(93%) contrast(83%);
    rotate: 142deg;
}

h1 {
    font-weight: 400;
    color: var(--color-light);
    font-size: 48px;
    font-family: 'Dosis';
}

h2 {
    margin: 0;
    font-weight: 300;
    color: var(--color-dark);
    font-size: 36px;
    font-family: 'Dosis';
}

b, i {
    color: var(--color-highlight);
}

.thank_note {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background-color: var(--color-light);
    height: fit-content;
    width: 100%;
    text-align: center;
    opacity: 0.8;
    color: var(--color-dark);
}

.form_section {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: var(--color-dark);
}

.top_section {
    width: 100%;
    height: 33%;
    padding-left: 20px;
}

.text_section {
    color: var(--color-light);
    margin-top: 200px;
    font-weight: 100;
    font-size: 24px;
    font-family: 'Dosis';
    width: 80%;
}

.middle_section {
    width: 100%;
    height: 25%;
    background-color: var(--color-light);
    padding: 20px;
}

.input_fields {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.error {
    margin: 0;
    height: 15px;
}

.password_error {
    /* display: none; */
}

.email_error {
    /* display: none; */
}

input {
    border: 2px solid var(--color-dark);
    outline: none;
}

input:focus {
    border: 3px solid var(--color-highlight);
}

input:invalid {
    border: 3px solid var(--color-invalid);
}

fieldset {
    margin: 0;
    padding: 10px 0px;
    border: none;
    font-family: 'Dosis';
    font-weight: 100;
    font-size: 14px;
    display: flex;
    gap: 50px;
}

.field_name {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.bottom_section {
    padding: 20px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px var(--color-light);
    margin-bottom: 20px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Dosis';
    background-color: var(--color-highlight);
}

button:hover {
    box-shadow: none;
    transition: 0.5s;
}

.account_login {
    font-family: 'Dosis';
    font-weight: 100;
    font-size: 18px;
    color: var(--color-light);
}